 /* Titles, H1, H2, H3*/
h1{
  font-size: medium;
}
h2{
  font-size: small;
}

h3 {
  font-size: x-small;
}
nav {
      float: right;
      display: block;
      color: #0065FC;
               
}

/* Liens de la page */
a:visited {
  color: #DEEBFF ;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #0065FC;
  border-top: 2px solid;
  padding-top: 5px;
}

/* Boutons de la page */
button {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#0065FC;
	color:#fff;
  border-radius: 0px 10px 10px 0px;
	width:100px;
	border:none;
}

 li {
    overflow: hidden;
    text-decoration: none;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 
/*Formulaire de recherche*/
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.site-search {
    color: #0065FC;
}
/*Body*/

body {
font-family: 'Raleway', sans-serif;
font-size: medium;
background-color: #F2F2F2;
}